body {
  background-color: #5e6581;
  background-attachment: fixed;
  background-position: center;
  margin: 0%;

}


header {
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #042038;
}


h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  text-align: center;
  color: bisque;
  font-size: 28px;
}


h3 {
  text-align: center;
  color: bisque;
  font-size: 28px;
}

h4{
  text-align: center;
  color: orange;
  font-size: 40px;
}


.sofiaparag {
  font-size: 21px;
}

.tracianBack {
  background-color: #042038;
  border-style: solid;
  border-color: black;
  font-size: 20px;
}

.midBack {
  font-size: 20px;
}

.geoBack {
  background-color: #5e6581;
  border-style: solid;
  border-color: black;
  font-size: 20px;
}


.table {
  display: table;
  margin: auto;
  background-color: gray;
  width: 100%;
  text-align: center;
  font-size: 19px;
}


.content-box {
  margin: 18px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
}

.inner-box {
  width: 600px;
  text-align: justify;
  color: whitesmoke;
  font-size: 18px;
  padding: 20px;
}

.inner-box2 {
  text-align: justify;
  margin: auto;
  margin-top: 50px;
  color: white;
  width: 700px;
  height: 600px;
  font-size: 18px;
}


.inner-box3 {
  margin: auto;
}

.gerbBack {
  font-size: 18px;
  background-color: grey;
  border-style: inset;

}


.sofia-img {
  width: 600px;
  height: 600px;
  height: auto;
}

.bulCoat {
  width: 250px;
  height: 250px;
}


.nevksi-church{
  width: 600px;
  height: auto;
}


.statue2{
  width: 600px;
}

.ndk{
  width: 600px;
}

.church-sofia{
  width: 600px;
}


.OldSofia {
  margin: auto 0;
  padding-left: 75px;

}

.genGerbs {
  margin-top: 100px;
}


.geoParag {
  font-size: 20px;
}

.geoimg {
  width: 600px;
  height: auto;
}

.old_sofia {
  width: 400px;
  height: auto;
  margin-left: 75px;
  margin-top: 40px;
}


.ref{
  text-align: center;
  padding: 50px;
  font-size: 30px;

}

.refer{
  color: wheat;
}


/* visited link */
a:visited {
  color: black;
}


a:hover {
  color: white;
}


li a {
  color: black;
  text-decoration: none;
}

ul#horizontal-list {
  display: flex;
  justify-content: center;
  min-width: 100px;
  list-style: none;
  padding: 5px 0;

}

ul#horizontal-list li {
  display: inline;
  margin: 10px;
}



/*Inserting MediaQueries */
@media only screen and (max-width: 668px) {

  .inner-box {
    width: 350px;
  }


  .sofia-img {
    width: 350px;
    height: auto;
  }


  .geoimg{
    width: 350px;
  }

  .bulCoat {
    width: 250px;
    height: auto;
    padding: 50px;
  }

  .genGerbs {
    width: 350px;
  }

  .inner-box2 {
    width: 350px;
  }

  .OldSofia {
    width: 300px;
    padding-left: 20px;
  }

  .old_sofia {
    width: 300px;
    height: auto;
    padding-left: 20px;
    padding-top: 50px;
    margin: auto;
  }

  ul#horizontal-list {
    flex-direction: column;
  }


  .nevksi-church{
    width: 350px;
    height: auto;
  }


  .statue{
    width: 350px;
    height: auto;
  }


  .statue2{
    width: 350px;
    height: auto;
  }

  .ndk{
    width: 350px;
    height: auto;
  }

  .church-sofia{
    width: 350px;
  }

  
}

/* End of  MediaQueries  */








/*Adding a Footer */
footer {
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 13px 0;
}